
<footer class="footer footer-page">
<div class="container d-flex">
<div class="copy-right"><p>Copyright ©2021 Sharukh. All rights reserved</p></div>
<ul>
<li><a href="#">Help</a></li>
<li><a href="#">FAQ</a></li>
</ul>
</div>
</footer>

<!-- Bootstrap core JavaScript================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery-min.js" ></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.matchHeight-min.js"></script>
<script src="../js/custom.js"></script>
<script type="text/javascript">
jQuery('.coleql_height').matchHeight();
</script>
</body>
</html>