<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home</title>
<!--[if lt IE 9]><script src="js/html5shiv.min.js"></script><![endif]-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> 
<link href="../style.css" rel="stylesheet">
<link href="../css/all.css" rel="stylesheet">
<link href="../css/bootstrap.css" rel="stylesheet">
<link href="../css/responsive.css" rel="stylesheet">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../images/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="../images/favicon.png">
</head>
<body>
<div class="sidebar sidebar-page">
<div class="sidebar-menu">
<div class="d-block d-xl-none"><div class="d-flex p-3"><button type="button" class="menu-close menu-btn ml-auto"><span class="sr-only">MENU</span></button></div></div>
<ul>

<li><a href="dashboard"><img src="../images/dash-icon-1.png" alt="">Dashboard</a></li>

<li><a href="employee"><img src="../images/dash-icon-5.png" alt="">Employee List</a></li>

<li><a href=""><img src="../images/dash-icon-2.png" alt="">Logout</a></li>

</ul>
</div>
</div>


<header class="header">
<div class="container d-flex justify-content-between">
<button type="button" class="menu-open menu-btn align-self-center"><span class="sr-only">MENU</span></button>
<div class="logo ml-auto"><a href="#">

	<h3>Shahrukh</h3></a>
</div>
<a href="#" class="user align-self-center"><span class="sr-only">USER</span></a>
</div>
</header>