<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background: grey;
        }
    </style>
</head>
<body>
    <center>
        <% if(success != '') { %>
        <h2 style="color: green; font-family: Arial, Helvetica, sans-serif;"><%= success %> </h2>
       <% } %>

        <h1>Welcome To Home      
           <a href="/user/upload">Profile</a>
        </h1>

        <h4>Hello, <% if(uname != '') { %><%= uname %>  <% } %></h4>
        <a href="/user/logout">Logout</a>
        
    </center>

</body>
</html>
